#assimet-page{

    position: relative;
    top: 400px;
    width: 100vw;
    height: auto;

    background-color: black;
}



.assigment-sec{
/*    border: 2px solid red;*/
    width: 100vw;
    display: grid;
   margin-top: 30px;
    top: 50px;
    grid-template-columns: repeat(3,1fr);

}

.assigment-card{
    padding: 10px;
    margin:20px auto;
    background:/* #0F0F0F*/black;
/*    border: 1px solid lime;*/
    box-shadow: 0 4px 8px lime;
    text-align: center;
    border-radius: 20px;
    width: 320px ;
    height: 200px;
    color:#0F0F0F ;

}



.assigment-card:hover {
    color: lime;
    transition: color 1s;

}




@media all and (max-width: 1024px){


    .assigment-card{
        width: 280px;
        height: 174px;
    }
}


@media all and (max-width: 768px){


    .assigment-sec{
        grid-template-columns: repeat(2,1fr);
    }
}


@media  all and (max-width:425px ){
    .assigment-sec{
        grid-template-columns: repeat(1,1fr);
    }
}
