#assimet-page{

    width: 100vw;
    height: auto;
    background-color: black;

    padding-top: 50px;
    padding-bottom: 10px;
}



.assigment-sec{
/*    border: 2px solid red;*/
    width: 100vw;
    display: grid;
    margin-top: 30px;
    top: 50px;
    grid-template-columns: repeat(3,1fr);

}

.assigment-card{
    padding: 10px;
    margin:20px auto;
    background:/* #0F0F0F*/black;
/*    border: 1px solid lime;*/
    box-shadow: 0 4px 8px lime;
    text-align: center;
    border-radius: 20px;
    width: 320px ;
    height: 200px;
    color:lime;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.case{
    font-weight: bolder;
    font-family: "Almarai", sans-serif;
    font-size: 1.7rem;
    margin: 0;
    text-align: left;
}


.about{
    font-weight: normal;
    font-family: "Almarai", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
    color: #666666;
    position: relative;
    top: 27px;
    transform: translateY(-22px);
}


.img-sec{

    display: flex;
    gap: 27px;
    justify-content: right;
    margin-right: 24px;
}

.img-sec img{
    width: 45px;
    height: auto;
}


.assigment-card:hover {

    transform: translateY(-10px);
    box-shadow: 0 4px 8px white;
    transition: color 1s;
}


.img-sec img:hover {
    transform: rotate3d(1, 1, 1, 360deg);
    transition: transform 2s ease-in;
}




@media all and (max-width: 1024px){


    .assigment-card{
        width: 280px;
        height: 174px;
    }


    .img-sec {
        top: 46px!important;
    }
}


@media all and (max-width: 768px){


    .assigment-sec{
        grid-template-columns: repeat(2,1fr);
    }
}


@media  all and (max-width:426px ){
    .assigment-sec{
        grid-template-columns: repeat(1,1fr);
    }
}
