
#education-journey{
    height: auto;
    width: 100vw;
    background-color: black;
    position: relative;
    /*border: 1px solid deeppink;*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;


    top: 54px;


}

#Education_title{
    color: white;
    font-size: 3rem;
    font-weight: bold;



  /*  border: 1px solid orange;*/
}


.education_sec{
  /*  border: 2px solid lime;*/
    height: 60vh;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(1,1fr);




    overflow-x: hidden;
    overflow-y:auto;

}

.e-card{
  /* border: 2px solid blue;*/


    display: flex;
    justify-content: center;
}

.e-card div {
    margin:20px auto;
    color: lime;
    padding: 10px;
    text-align: center;
    background-color: #0F0F0F;
   /* border: 2px solid lime;*/
    border-radius: 20px;
    /*border: 2px solid lime;
    box-shadow: 0 4px 30px rgba(0, 255, 0, 0.3);*/

    box-shadow: 0 4px 8px whitesmoke;
    max-width: 500px;
    Height:  auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

#certificate{
    color: lime;
    font-family: "Almarai", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    padding-top: 60px;
    text-align: center;
    margin: auto;
    text-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 30px lime;
    text-decoration: underline 5px;
    animation: dimLight 2s infinite alternate;
}



.date{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Almarai', sans-serif;
    text-align: left;
    color: white;

}


.course{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Almarai', sans-serif;
   margin: 0;
}


.location{
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Almarai', sans-serif;
}



.desc{
    font-weight: normal;
    font-family: 'Almarai', sans-serif;

    text-align: center;
   /*padding-top: 35px;*/
    color: whitesmoke;
    margin: auto;
    margin-bottom: 10px;
}



::-webkit-scrollbar {
    width: 10px;
    height: 100px;
}

::-webkit-scrollbar-thumb {
    background: lime;
    border-radius: 20px;
    height: 100px;
}



::-webkit-scrollbar-track {
    background: #333;
}




@keyframes dimLight {
    0% {
        text-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 30px lime;
        opacity: 1;
    }
    50% {
        text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime;
        opacity: 0.5;
    }
    100% {
        text-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 30px lime;
        opacity: 1;
    }
}

#certificate:hover {
    filter: brightness(1.5);
}


@media all and (max-width: 1024px){
    .e-card div{
        width: 424px;
    }

    #education-journey{
        position: relative;
        top: 244px!important;
    }
}


@media all and (max-width: 768px){
    #education-journey{
        display: flex!important;
        flex-direction: column!important;
        width: 100vw!important;
        top: 150px;
    }

    .education_sec{
        width: 98vw!important;
    }

    .e-card{
        width: 98vw !important;
    }

    #Education_title{
        text-align: center;
    }

    #certificate{
        padding-top: 0!important;
        padding-bottom: 50px!important;
    }


}



@media all and (max-width: 426px){
    .e-card div{
        width: 327px;
    }

    #education-journey{
        top:150px!important;
    }
}



@media all and (max-width: 376px){
    .e-card div{
        width: 267px;
    }
}


@media all and (max-width: 320px){
    .e-card div{
        width: 237px;
    }

    #education-journey{
        position: relative;
        top: 20px !important;
    }
}