/* Project Page */
#project-page {
    width: 100vw;
    height: auto;

    padding-top: 50px;

    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Projects Scroll Section */
.project-sec {

    position: relative;
    top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    width: 80vw;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
}

.project-sec::-webkit-scrollbar {
    display: none;
}

/* Project Card Styles */
.p-card {
    scroll-snap-align: center;
     width: 281px;
    height: 383px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 4px 8px white;
    margin: 0 50px;
    padding: 20px;
    text-align: center;
    border: 1px solid lime;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}


.content{

    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px lime;
}


.Title{
    color: lime;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 0;
}


.yr{
    color: lime;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
}

.p-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 30px 0;
}

/*github btn*/
.github-button {
    background-color: lime;
    color: #222;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Almarai', sans-serif;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    margin-top: 30px;
}


.github-button2 {
    background-color: lime;
    color: #222;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Almarai', sans-serif;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    margin-top: 30px;
}



/* Scroll Buttons */
.btn-scrol {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.scroll-btn {
    padding: 10px 20px;
    background-color: lime;
    color: black;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.scroll-btn:hover {
    background-color: darkgreen;
}



.new-content-p {
    color: ghostwhite;
   font-family: "Almarai", sans-serif;
    transform: translateY(100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.p-card:hover .Title,
.p-card:hover img,
.p-card:hover .github-button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.p-card:hover .new-content-p {
    opacity: 1;
    visibility: visible;
    transform: translateY(-360px);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.p-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.p-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px lime;
}



@media all and (max-width: 1024px) {

    .github-button{
        margin-top: 0;
    }


    .project-sec {
        width: 95vw !important;
    }

    .p-card {
        height: 340px;
        min-width: 245px;
    }

    .new-content-p {
        font-size: 0.9rem!important;
    }

    .p-card:hover .new-content-p {
        transform: translateY(-342px);

    }
}



/* Responsive Styles */
@media all and (max-width: 768px) {


    .p-card {
        min-width: 250px;
        height: 380px;
    }

    .scroll-btn {
        font-size: 1.2rem;
    }

}

@media all and (max-width: 425px) {

    .p-card {
       width: 200px;
        height: 300px;
    }

    .scroll-btn {
        font-size: 1rem;
        padding: 8px 16px;
    }


}


@media all and (max-width: 376px){

    .new-content-p {
        font-size: 0.9rem!important;
    }

    .p-card {
         width: 230px!important;
        height: 348px!important;
    }
}