
 @media all and (max-width:1024px){


    #Home{
        background-color: red;
    }

    nav{
        margin: -8em;
        width: 50em !important;
        margin-right: 1em!important;
    }

    .NavigtionLink li a{
        font-size: 1rem !important;

    }

    .MyImg{
        width: 365px !important;
        margin-top: 3em !important;
        margin-left: -0.7em !important;
    }

    .MyImg img{
        width: 396px!important ;
        height: auto;
    }

    .logo img{
        width: 200px;
    }

    .Home-Page-Content{
        position: relative !important;
        top: 78px; !important;
    }

    .nameposition{
        width: 616px!important;
        margin-right: 0 !important;
        margin-top: 45px;
    }


    .nameposition di{
        margin-right: 24px!important;
    }

    .btn{
       position: relative;
        top: 56px;
        right: 56px;
        margin-top: -63px;
    }

    #sec{
        font-size: 5rem !important;
    }

    #thir{
        font-size: 2.7rem !important;
        transform: translate(45px,-128px) !important;
        width: 534px!important;
    }

    #four{
        font-size: 1.2rem !important;
    }





    /*about me page*/

     .Social_meadias {
      /*   border: 1px solid red;*/
         transform: translate(35em, 2em)!important;
         width: 33em!important;
     }


     .Social_meadias a img{
         transform: scale(32%)!important;
     }

     .myimg{
         width: 272px!important;
         transform: translateX(33px)!important;
     }


     .details_sec{
         transform: translate(-33px,-34px)!important;
         width: 600px !important;
         font-size: 0.9em!important;
     }


}







 @media all and (max-width:768px){

     .NavigtionLink li a{
         display: none;
     }

      .MyImg img{
          width: 333px !important;
      }

      #first{
          font-size: 1.5em!important;
          margin-top: 0;
          transform: translate(-1em,-3.3em)!important;
      }

      #sec{
          font-size: 4rem!important;
          margin-top: 56px;
      }

      #thir{
          font-size: 2.2em!important;
          width: 436px!important;
          margin-top: 0.2em;
          margin-left: -0.2em!important;
      }

      #four{
          font-size: 1em!important;
          margin-left: 3em !important;
          margin-top: -2em;!important;
      }


      .Home-Page-Content{
          position: relative !important;
          top: 68px !important;
      }

      .nameposition{
          margin-left: -4em!important;
          margin-top: 8em!important;

      }

      .btn button{
          width: 132px!important;
          height: 31px!important;
      }


      .btn{
          width: 285px!important;

          top: 31px;
          right: 26px;
      }

      #hire_btn{
          margin-top: 10px;!important
      }



     /*about me page*/

   /*  .myimg{
         width: 213px !important;
         transform: translate(144px,-32px);
     }

     .details_sec{
         font-size: 0.9em!important;
         transform: translate(-277px,257px)!important;
     }

     .Social_meadias{
         transform: translate(16em,6em)scale(86%)!important;
     }

     #details{
         width: 605px!important;
     }

     .main{

     }

     #PhotoFrame{
         text-align: center!important;
     }*/

     .main {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
     }

     #PhotoFrame {
         display: flex!important;
         justify-content: center!important;
         width: 100%;
     }

     .myimg {
         margin: 0;
         width: auto;
         transform: translateX(0)!important;
     }

     .details_sec {
         transform: translate(0, 0)!important; /* Reset any custom positioning */
         text-align: center;
         width: 90%; /* Adjust width as needed */
         margin-top: 125px;
     }

     .Social_meadias {
         transform: translate(247px, -9em) scale(100%)!important; /* Reset scaling and positioning */
     }

     #details {
         width: 96%!important;
     }

 }



 @media all and (max-width:427px){


    .NavigtionLink li a{
        display: none;
    }

    .MyImg img{
        width: 293px!important;
        margin-left: 55px!important;
        margin-top: -29px!important;
    }


    .MyImg{
        width: 276px !important;
    }





    .nameposition{
        /*margin-left: -28em!important;
        position: relative;
        width: 31em !important;
        left: 16px;
        top: 279px;
        margin-right: 368px;

        border: 2px solid lime;
*/
        width: 425px!important;
        display: flex ;
        justify-content: center;
        flex-direction: column;



    }


     .Home-Page-Content {
         /*text-align: center;*/
         margin: 0!important;
         border: 1px solid red;
         display: flex;
         flex-direction: column;
         justify-content: center;

     }

    #first{
        font-size: 1em!important;
        transform: translate(-1em,-20.20em)!important;
    }

    #sec{
        font-size: 3rem !important;
        width: 363px !important;
       transform: translate(-31px, -25px) !important;
    }

    #thir {
        font-size: 1.8em !important;
        margin-top: -8px !important;
        width: 352px !important;
        transform: translate(-24px, -16px) !important;
    }

        #four {
            font-size: 0.8rem !important;
            width: 207px !important;
            position: relative;
            left: 143px;
            margin: 0 !important;
            transform: translate(-109px, -21px)!important;
        }

        .btn {
            width: 158px !important;
          /*  transform: translate(-41px, 53px) !important;*/
        }

        .di{
            border: 2px solid gold;
            width: 425px!important;
            display: flex;
            justify-content: center;
            flex-direction: column;

        }




        /*about me section*/

       #about-me{
        position: relative;
        top: 83px !important;
    }

       .myimg{
           width: 130px !important;
           transform: translate(123px, -27px) !important;

       }

       .title p{
           font-size:2.5em!important;
       }

       .Social_meadias{
           transform: translate(4.9em, 3em) scale(60%) !important;
       }

       #details{
           width: 281px!important;
       }

     .main {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
     }



       .details_sec{
           transform: translate(-111px, 286px) !important;
       }

       #about-me section{
           width: 305px!important;
       }

    }






















@media all and (max-width: 320px){


    .MyImg img{
        margin-left: 39px !important;
    }


    .main{
        margin-left: 80px!important;
    }

    .Social_meadias{
        transform: translate(2.5em,-2em)scale(60%)!important;
    }


}
