
 @media all and (max-width:1024px){

     nav {
         margin: -8em;
         width: 50em !important;
         margin-right: 1em !important;
     }

     .NavigtionLink li a {
         font-size: 1rem !important;

     }

     .MyImg {
         width: 365px !important;
         margin-top: 3em !important;
         margin-left: -0.7em !important;
     }

     .MyImg img {
         width: 396px !important;
         height: auto;
     }

     .logo img {
         width: 200px;
     }

     .Home-Page-Content{
         position: relative;
         top: 100px;

         padding-right: 21px;
     }
     .nameposition{
         padding-right: 8px!important;
         width: 64vw!important;
     }


     .di{
         text-align: center;
     }

     #sec{
         font-size: 5em;
     }

     #thir{
         font-size: 3em;
     }


     /*about me page*/
     #details{
         font-size: 0.9rem!important;
     }

     .myimg{
         width: 304px;
     }
     .Social_meadias{
         width: 45vw!important;
         transform: translate(614px, 30px)!important;
     }

     .Social_meadias>a>img{
         transform: scale(35%);
         margin-right: 1px;
         transition-duration: 0.5s;

     }
}







 @media all and (max-width:768px){

     .NavigtionLink li a{
         display: none;
     }

     .MyImg img{
         width: 333px !important;
     }


     .Home-Page-Content{
         padding: 0;
     }

     .nameposition {
         padding: 0!important;
         border: 1px solid yellow;
         padding-top: 37px!important;
         width: 99vw!important;
         position: relative;
         left: -29px;

     }

     #first {
         font-size: 1.5em !important;
     }

     #sec{
         font-size: 3.4rem!important;

     }

     #thir{
         font-size: 2em!important;
         text-align: center;

     }

     #four{
         font-size: 1em!important;

     }

     .btn{
         display: grid;
         justify-content: center;
     }

     #hire_btn{
         margin-top: 19px;
     }

     #cv_btn{
         margin: 0;
     }



     /*about me page*/
     .main{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

      #details{
          font-size: 0.9rem!important;
      }

      .details_sec{
          margin-top: 96px;
      }

     .Social_meadias{
         transform: translate(341px, -12em)!important;
     }

     .im{
         width: 99vw!important;
     }

     .myimg {
         width: 220px!important;
     }
 }



 @media all and (max-width:425px){


     #Home{
         height: 143vh;
     }


     .Home-Page-Content{
         display: flex;
         justify-content: center;
         flex-direction: column;
     }

     .nameposition {
         padding-right: 0!important;
         text-align: center;
         position: relative;
         width:99vw!important;

     }


     .MyImg {
         border: 2px solid orange ;
         transform: translateX(12px);
         display: flex;
         justify-content: center;
         width: 99vw !important;
     }


     #first{
         transform: translate(-5em, -17em);
     }

     #sec {
         font-size: 3rem !important;
     }

     #thir {
         font-size: 1.8em !important;
     }

     #four{

         text-align: center;
     }


     /*about me page*/
     .Social_meadias>a>img {
         transform: scale(35%)!important;
         margin-right: -29px!important;
     }

     .Social_meadias{
         transform:translate(236px, -20em)!important;
     }

     .details_sec{
         width: 79vw!important;
     }

    }


  @media all and (max-width:376px){
     .Social_meadias{
         transform: translate(218px, -22em) !important;
         background-color: lime;
     }
 }


  @media all and (max-width:320px){

    .MyImg img {

        height: auto;
        width: 100%;
        max-width: 318px;
        margin: 0 auto;
        display: block;
    }

      #Home{
        background-color: orange;
          height: 159vh!important;

      }

      .MyImg {
          margin: 0!important;
      }


      /*about me page*/
      .Social_meadias{
          transform: translate(192px, -30em)!important
      }

      .Social_meadias>a>img {
          transform: scale(30%)!important;
          margin-right: -48px !important;
      }

      #about-me{
          position: relative;
          top: 50px;
      }


 }

