#service-page{
    width: 100vw;
    height: auto;
    background-color: #0F0F0F;
    padding-top: 40px;
    padding-bottom: 40px;
}


.service-card{
    padding: 10px;
    margin:20px auto;
    background: /*#0F0F0F*/ black;
    box-shadow: 0 4px 8px whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;

    border-radius: 20px;
    width: 340px ;
    height: 200px;
    color:#0F0F0F ;
    transition: transform 0.3s;
}

.outline{
   /*   border: 0.1px solid lime;*/
    width: 336px ;
    height: 196px;
    text-align: center;
    transition: opacity 0.3s, visibility 0.3s;
    border-radius: 20px;
}



.new-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;

}

.new-content p{
    width: 300px;
    font-size: 1rem;
}




.service{
    color: lime;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Almarai', sans-serif;
}

.s-icon{
    width: 67px;
    height: auto;
    margin: auto;
    margin-top: 25px;
}




/*transitions*/

.service-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px lime;

    cursor: pointer;

}

.service-card:hover .outline {
    opacity: 0;
    visibility: hidden;
}

.service-card:hover .new-content {
    opacity: 1;
    visibility: visible;
}

.service-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 8px lime;
}



@media all and (max-width: 1024px){

    .service-card{
        width: 270px;
    }

    .service{
        font-size: 1.4rem;
    }

    .s-icon{
        width: 55px;
    }

}

@media all and (max-width: 768px) {

    .new-content p {
        width: 274px;
        font-size: 0.9rem;
    }
}